@{
    ViewBag.Title = "Home Page";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<title>Musical drop down menu (html5 / css3) | Script Tutorials</title>*@
    <link href="~/Content/assets/css/layout.css" rel="stylesheet" type="text/css" />
  
    <title>Untitled</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Content/assets/css/mbcsmbmcp.css" type="text/css" />

</head>
<body>
    @*<header>*@
        @*<h2>Plating Chemical Monitoring.</h2>*@

        @*<img src="~/Content/ImageFile/Chemicalscmk.jpg" class="img-center"  />*@ 
    @*</header>*@

    <div id="mbmcpebul_wrapper" style="max-width: 720px;">
        <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
            <li>
                <div class="buttonbg gradient_button gradient60" style="width: 225px;"><div class="arrow"><a>Master Data Maintenance</a></div></div>
                <ul>
                    <li class="gradient_menuitem gradient33"><a title="" href="ChemicalSupplyProtek1">Protek 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 4</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 5</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 6</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 7</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 8</a></li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Protek 9</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="">Protek 9 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="">Protek 9 B</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <div class="buttonbg gradient_button gradient60"><div class="arrow"><a>Input Analysis Result</a></div></div>
                <ul>
                   
                    <li class="gradient_menuitem gradient33"><a title="" asp-controller="PT_MC_ChemicalController" asp-action="InputAnalysis">Protek 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href= "InputAnalysisProtek2">Protek 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href= "InputAnalysisProtek3">Protek 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href= "InputAnalysisProtek4">Protek 4</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href= "InputAnalysisProtek5">Protek 5</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href= "InputAnalysisProtek6">Protek 6</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href= "InputAnalysisProtek7">Protek 7</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href= "InputAnalysisProtek8">Protek 8</a></li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Protek 9</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href= "InputAnalysisProtek9A">Protek 9 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href= "InputAnalysisProtek9B">Protek 9 B</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <div class="buttonbg gradient_button gradient60" style="width: 255px;"><div class="arrow"><a>Graph Report</a></div></div>
                <ul>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 4</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 5</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 6</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 7</a></li>
                    <li class="gradient_menuitem gradient33"><a title="">Protek 8</a></li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Protek 9</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="">Protek 9 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="">Protek 9 B</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Menus will work without this javascript file. It is used only for extra
         effects, improved usability, compatibility with very old web browsers
         and support for touch screen devices. -->
    <script type="text/javascript" src="~/Scripts/mbjsmbmcp.js"></script>

 
</body>
</html>