@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    214 ==> K.Kidsanu Mod<br /><br />
    205 ==> K.Nuttasit Joe<br /><br />
    218 ==> K.Hatsanai Kim<br /><br />
    218 ==> K.Surasit Boy<br /><br />
    201 ==> K.Kongpat Pat<br /><br />
    200 ==> K.Suparerg Tom<br /><br />
    <abbr title="Phone">P:</abbr>
    037-207-500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kidsanu_c@cmk.co.th">kidsanu_c@cmk.co.th</a><br />
    <strong>Support:</strong>   <a href="mailto:nuttasit_k@cmk.co.th">nuttasit_k@cmk.co.th</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>