@{
    ViewBag.Title = "Home Page";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<title>Musical drop down menu (html5 / css3) | Script Tutorials</title>*@
    <link href="~/Content/assets/css/layout.css" rel="stylesheet" type="text/css" />

    <title>Untitled</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Content/assets/css/mbcsmbmcp.css" type="text/css" />

</head>
<body>


    <div id="mbmcpebul_wrapper" style="max-width: 720px;">
        <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
            <li>
                <div class="buttonbg gradient_button gradient60" style="width: 225px;"><div class="arrow"><a>Master Data Maintenance</a></div></div>
                <ul>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek1">Protek 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek2">Protek 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek3">Protek 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek4">Protek 4</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek5">Protek 5</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek6">Protek 6</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek7">Protek 7</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek8">Protek 8</a></li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Protek 9</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek9A">Protek 9 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical/ChemicalSupplyProtek9B">Protek 9 B</a></li>
                        </ul>
                    </li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/ChemicalSupplyAlmex">Almex</a></li>
                

                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Pal 1</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Pal_/ChemicalSupplyPal1A">Pal 1 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical_Pal_/ChemicalSupplyPal1B">Pal 1 B</a></li>
                        </ul>
                    </li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Pal 2</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Pal_/ChemicalSupplyPal2C">Pal 2 C</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical_Pal_/ChemicalSupplyPal2D">Pal 2 D</a></li>
                        </ul>
                    </li>

                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/ChemicalSupplyDesmear1">Desmear 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/ChemicalSupplyDesmear2">Desmear 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/ChemicalSupplyDesmear3">Desmear 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/ChemicalSupplyDesmear4">Desmear 4</a></li>

                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/ChemicalSupplyPTH1">PTH 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/ChemicalSupplyPTH2">PTH 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/ChemicalSupplyPTH3">PTH 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/ChemicalSupplyPTH4">PTH 4</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_AU_/ChemicalSupplyAU">AU</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_TIN_/ChemicalSupplyTIN">TIN</a></li>
                </ul>
            </li>
            <li>
                <div class="buttonbg gradient_button gradient60"><div class="arrow"><a>Input Analysis Result</a></div></div>
                <ul>

                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysis">Protek 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysisProtek2">Protek 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysisProtek3">Protek 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysisProtek4">Protek 4</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysisProtek5">Protek 5</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysisProtek6">Protek 6</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysisProtek7">Protek 7</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysisProtek8">Protek 8</a></li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Protek 9</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/InputAnalysisProtek9A">Protek 9 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical/InputAnalysisProtek9B">Protek 9 B</a></li>
                        </ul>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Almex_/InputAnalysisAlmex">Almex</a></li>

                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Pal 1</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Pal_/InputAnalysisPal1A">Pal 1 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical_Pal_/InputAnalysisPal1B">Pal 1 B</a></li>
                        </ul>
                    </li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Pal 2</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Pal_/InputAnalysisPal2C">Pal 2 C</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical_Pal_/InputAnalysisPal2D">Pal 2 D</a></li>
                        </ul>
                    </li>

                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/InputAnalysisDesmear1">Desmear 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/InputAnalysisDesmear2">Desmear 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/InputAnalysisDesmear3">Desmear 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/InputAnalysisDesmear4">Desmear 4</a></li>

                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/InputAnalysisPTH1">PTH 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/InputAnalysisPTH2">PTH 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/InputAnalysisPTH3">PTH 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/InputAnalysisPTH4">PTH 4</a></li>

                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_AU_/InputAnalysisAU">AU</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_TIN_/InputAnalysisTIN">TIN</a></li>
                </ul>
            </li>
            <li>
                <div class="buttonbg gradient_button gradient60" style="width: 255px;"><div class="arrow"><a>Graph Report</a></div></div>
                <ul>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek1">Protek 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek2">Protek 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek3">Protek 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek4">Protek 4</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek5">Protek 5</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek6">Protek 6</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek7">Protek 7</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek8">Protek 8</a></li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Protek 9</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical/GraphProtek9A">Protek 9 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical/GraphProtek9B">Protek 9 B</a></li>
                        </ul>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Almex_/GraphAlmex">Almex</a></li>


                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Pal 1</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Pal_/GraphPal1A">Pal 1 A</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical_Pal_/GraphPal1B">Pal 1 B</a></li>
                        </ul>
                    </li>
                    <li class="gradient_menuitem gradient33 last_item">
                        <a class="with_arrow" title="">Pal 2</a>
                        <ul>
                            <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Pal_/GraphPal2C">Pal 2 C</a></li>
                            <li class="gradient_menuitem gradient33 last_item"><a title="" href="PT_MC_Chemical_Pal_/GraphPal2D">Pal 2 D</a></li>
                        </ul>
                    </li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/GraphDesmear1">Desmear 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/GraphDesmear2">Desmear 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/GraphDesmear3">Desmear 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_Desmear_/GraphDesmear4">Desmear 4</a></li>

                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/GraphPTH1">PTH 1</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/GraphPTH2">PTH 2</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/GraphPTH3">PTH 3</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_PTH_/GraphPTH4">PTH 4</a></li>

                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_AU_/GraphAU">AU</a></li>
                    <li class="gradient_menuitem gradient33"><a title="" href="PT_MC_Chemical_TIN_/GraphTIN">TIN</a></li>
                </ul>

            </li>
        </ul>


    </div>

    <script type="text/javascript" src="~/Scripts/mbjsmbmcp.js"></script>


</body>
</html>

